{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% form_theme cardForm 'form/product_card_form_theme_bootstrap.html.twig' %}

{% set formId = 'nedac-sylius-order-now-plugin-form-' ~ product.id %}

<div class="card border-0" {{ sylius_test_html_attribute('product') }}>
    <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'class': 'card-img-top'} %}
    </a>
    <div class="card-body text-center" {{ sylius_test_html_attribute('product-content') }}>
        <h6 class="sylius-product-name" {{ sylius_test_html_attribute('product-name', product.name) }}>{{ product.name }}</h6>
        {{ form_start(cardForm, {'action': path('nedac_shop_cart_add_item', {'productId': product.id}), 'attr': {'id': formId, 'novalidate': 'novalidate'}}) }}
            <div class="form-row">
                <div class="col-4">
                    {{ form_widget(cardForm.cartItem.quantity) }}
                </div>
                {% if not product.simple %}
                    {% if product.variantSelectionMethodChoice %}
                        {% include 'Product/Show/_variants_bootstrap.html.twig' %}
                    {% else %}
                        {% include 'Product/Show/_options_bootstrap.html.twig' %}
                    {% endif %}
                {% endif %}
            </div>
            {% if not product.variants.empty() %}
            <span class="text-muted sylius-product-price" {{ sylius_test_html_attribute('product-price') }}>
                {{ money.calculatePrice(product|sylius_resolve_variant) }} |
            </span>
            {% endif %}
            <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="card-link">{{ 'sylius.ui.view_more'|trans }}</a>
            <span class="text-muted sylius-product-price">|</span>
                                                                {# TODO: Use translation for button text #}
            <input type="submit" class="btn btn-link" style="padding: 0" value="{{ 'Order' }}" {{ sylius_test_html_attribute('order-now-button-container') }} />
        {{ form_end(cardForm) }}
    </div>
</div>
